beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
cssselect==1.0.1
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.5
jieba3k==0.35.1
lxml==4.9.1
newspaper3k==0.2.2
nltk==3.2.4
numpy==1.12.1
numpydoc==0.6.0
olefile==0.44
pandas==0.20.2
patsy==0.4.1
Pillow==4.1.1
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
requests==2.18.1
requests-file==1.4.2
scikit-learn==0.18.2
six==1.10.0
sklearn==0.0
stop-words==2015.2.23.1
tldextract==2.1.0
urllib3==1.21.1
