<!DOCTYPE html>

{% import "bootstrap/wtf.html" as wtf %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Site Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </head>


  <body style="background-color: #eee">

    <nav class="navbar navbar-inverse" style="background-color: #151515">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src={{url_for('static', filename="austd.jpg")}} width="50px" height="50px" style="margin-top:-15px; margin-left:-5px;">
          </a>
        </div>
      </div>
    </nav>


    <div class="container-fluid">

      <h1 style="font-family:Ubuntu; text-align:center;"> <b>Austd</b> : The Gold Standard</h1>
      <br>

    </div>

    <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-md-4 sidenav"></div>
        <div class="col-md-4 text-left">
          <div class="wtforms">{{ wtf.quick_form(form)}}</div>
        </div>
        <div class="col-md-4 sidenav"></div>
      </div>
    </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>